body {
    font-family: Arial, sans-serif;
    background-color: #9CB394; /* Dark Sea Green */
    color: #2D2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.account-container {
    background-color: #C1CFBA; /* Argent */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

h1 {
    color: #2D2D2D;
}

.profile-picture img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

input[type="file"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #70855F;
    border-radius: 5px;
    background-color: #F5E2BF; /* Dutch White */
}

button {
    background-color: #DB864D; /* Jasper Orange */
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #C9643C; /* Dark Coral */
}

nav {
    margin-top: 15px;
}

#page-menu {
    width: 100%;
    padding: 10px;
    border: 1px solid #70855F;
    border-radius: 5px;
    background-color: #F5E2BF; /* Dutch White */
}
